.img-team-chinmoy-raval { background: url(../img/team/chinmoy-raval.jpg) no-repeat; background-size: cover; }
.img-team-agustin-sanchez { background: url(../img/team/agustin-sanchez.jpg) no-repeat; background-size: cover; }
.img-team-johnathan-valencia { background: url(../img/team/johnathan-valencia.jpg) no-repeat; background-size: cover; }

.img-mission { background: url(../img/about/mission.jpg) no-repeat; background-size: cover; background-position: center center; }
.img-vision { background: url(../img/about/vision.jpg) no-repeat; background-size: cover; background-position: center center; }
.img-values { background: url(../img/about/values.jpg) no-repeat; background-size: cover; background-position: center center; }
.img-quote { background: url(../img/about/bg-quote.jpg) no-repeat; background-size: cover; background-position: center center; }

.img-effect {
  box-shadow: 0 4px 16px 0 rgba(0,0,0,0.16);
  // border: 2px solid #E1E8EE;
}
